.popups {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff80;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

}

.popups:target {
    opacity: 1;
    visibility: visible;
}
.popups:target .popups__collectives{
    opacity: 1;
    transform:perspective(600px) translate(0px, 0px)rotateX(0deg);;
}


.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* .container {} */


.popups__collectives {
    font-family: 'Oswald', sans-serif;
    position: relative;
    width: 60%;
    aspect-ratio: 4/2.6;
    background-color: #dab8a5;
    margin: 13% auto;
    border: #ffffffc9 solid 8px;
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform:perspective(600px) translate(0px, 100%) rotateX(45deg);

}

.pop__coll__decor1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    aspect-ratio: 3/3.6;
    background: #ddcdc2;
}

.pop__coll__decor2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 71%;
    aspect-ratio: 10/2.5;
    background: #ddcdc2;
}


.pop__coll__decor-png {
    position: absolute;
    bottom: 6%;
    right: 24%;
    width: 32%;
    aspect-ratio: 3/3;
    background: url(../img/collective/popdecorpng.png);
}
/* .popup-x{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px;
}
.popup-x img{
    width: 100%;
} */

.pop__coll__image {
    position: absolute;
    top: 13%;
    right: 9%;
    width: 38%;
    aspect-ratio: 2/3;
    overflow: hidden;
}

.pop__coll__image>img {
    width: 100%;
    border: #FFFFFF solid 3px;
}


/* -----popup text-------------------- */
.pop__coll__text-box {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 36%;
    padding: 2%;
    top: 7%;
    left: 6%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border: 1px solid #ffffff4a;
   }




.pop__coll__title-svg {
    width: 96%;
    height: auto;
    background-size: cover;
    padding-bottom: 10%;
    font-family: 'oswald';
    font-size: 47px;
    font-weight: 200;
    color: #ffffff;
   }

.pop__coll__sub-title-1 {
    width: 100%;
    font-size: clamp(9px, 1vw, 14px);
    line-height: 1.1;
    color: #6e3915;

}
.popup__txt-2>p{
    font-size: clamp(5px, 1.2vw, 13px);
    font-weight: 600;
    line-height: 1.1;
    color: #6e3915;
    padding: 10px 0 2px;

}


.popup__txt-2 span {
    font-size: clamp(5px, 1.2vw, 18px);
    line-height: 1.3;
    color: #6e3915;
    font-weight: 600;
    letter-spacing: -0.5px;

}
.popup__txt-2{
    padding-bottom: 10px;
}

.popup__btn {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 100;
    width: 57%;
    background: #cf9d81;
    border: 1px solid #7b0606;
    padding: 5px 0;
    margin-top: 10px;
}

.popup__btn>a {
    color: #fff;
}

.popup__close {
    position: absolute;
    color: #d13406aa;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(10px, 3vw, 22px);
    font-weight: 700;
    top: 10px;
    right: 10px;
    padding: 3px;
}
/* ?========================= 1024 ====================================*/
@media (max-width: 1024px){
    .popups__collectives {
        width: 76%;

        border: #ffffffc9 solid 5px;
    }
}
/* ?============================= 950 ================================ */
@media (max-width: 950px){
    .pop__coll__sub-title-1 {
        font-size: clamp(9px, 1.3vw, 14px);
    }
    .popup__txt-2 span {
        font-size: clamp(11px, 1.4vw, 18px);
    }
}
/* ?============================= 670 ================================ */
@media (max-width: 670px){
.popup__txt-2 {
    padding-bottom: 0px;
}
}
/* ?============================= 600 ================================ */
@media (max-width: 600px){
    .popups__collectives {
        width: 74%;
        margin: 5% auto;
    }
    .popup__btn {
        width: 73%;
        padding: 5px 0;
        margin-top: 3px;
    }
    .popup__txt-2 span {
        font-size: clamp(5px, 2vw, 18px);
    }
}

/* ?============================= 600 ================================ */
@media (max-width: 600px){
.popups__collectives {
    width: 90%;
    margin: 12% auto;
}
.popup__txt-2>p {
    font-size: clamp(5px, 1.9vw, 13px);
    line-height: 1;
    padding: 10px 0 2px;
}

}
/* ?============================= 480 ================================ */
@media (max-width: 480px){
    .pop__coll__text-box {
        width: 34%;
        padding: 3%;
    }
    .pop__coll__title-svg {
        padding-bottom: 1%;
    }
    .pop__coll__sub-title-1 {
        font-size: clamp(8px, 1.3vw, 14px);
    }
}
/* ?============================= 400 ================================ */
@media (max-width: 400px){
    .popups__collectives {
        aspect-ratio: 4/3;
    }
    .pop__coll__text-box {
        height: 77%;
    }
}

/* -----popup end-------------------- */
